.search-filter-bar {
    font-size: 110%;
}

.input-group .btn-remove-bar{
    background-color: #ffffff; 
    border: 1px solid #dee2e6;
    border-left: none;
    color: #ff0000; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    font-size: 110%;
}

.btn-search-bar {
    font-size: 110%;
}

.btn-add-bar {
    font-size: 110%;
}