<div *ngFor="let barra of barras; let i = index" class="search-filter-bar d-flex m-3">
    <div class="input-group flex-grow-1">
        <input type="text" class="form-control" [placeholder]="'Buscar por ' + barra.filtro + '...'" [(ngModel)]="barra.valor" (input)="inputIngresado(barra.filtro, barra.valor)" >
        <button *ngIf="barras.length > 1" class="btn btn-danger btn-remove-bar" (click)="removeBar(barra.filtro)">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    
    <button *ngIf="barra === barras[0]" class="btn btn-search btn-secondary ms-2" type="button" (click)="emitBusqueda()">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <div class="dropdown">
        <button *ngIf="barra === barras[0]" class="btn btn-primary btn-add-bar ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-plus"></i>
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let item of dropdownItems">
                <button class="dropdown-item" (click)="seleccionarFiltro(item)">
                    {{ item }}
                </button>
            </li>
        </ul>
    </div>
</div>