.modal-header {
    text-align: center;
    color: #0D0842;
    font-size: 1.5em;
    background-color: #F0EBD5;
    margin: 0;
    font-weight: bold;
    display:flex;
    padding: 1rem;
} 

.modal-abierto nav,
.modal-abierto footer {
  pointer-events: none; 
  opacity: 0.5; 
}

.icono-cerrar{
    align-items: end;
    cursor: pointer;
}
