<app-navbar></app-navbar>
<div class="container-flex">
    <div class="row ms-1 me-1">
        <div class="col-md-10 offset-md-1 contenedor-grilla">
            <app-searchfilterbar (search)="busquedaFiltrada($event)"></app-searchfilterbar>
            <app-grid [url]="'libro'" [filtros]="busqueda"></app-grid>
            <app-router-button [texto]="'AGREGAR LIBRO'" [tipo]="'rojo'" (clickEvent)="navigateToAgregarLibro()"></app-router-button>  
        </div>
    </div>
</div>    
<app-footer></app-footer>