<div class="modal-overlay" (click)="$event.stopPropagation()">
    <h5 mat-dialog-title class="modal-header">Solicitar Libro
        <div>
            <mat-icon (click)="dialogRef.close()" fontIcon="close-icon" class="icono-cerrar"></mat-icon>
        </div>
    </h5>
    <mat-divider></mat-divider>
    
    <mat-dialog-content class="modal-content">
        <form [formGroup]="form">
            <div class="container-fecha">
                <label for="fecha" class="form-label"> Ingrese la fecha en la que desea iniciar su préstamo </label>
                <input type="fecha" class="form-control" formControlName="fecha" id="fecha" placeholder="aaaa-mm-dd">
                <div class="error" *ngIf="form.get('fecha')?.hasError('soloFecha') && form.get('fecha')?.touched">
                    El formato debe ser aaaa-mm-dd
                </div>
            </div>  
        </form>
    
        <p class="confirmation-text" >
            Espere la confirmación de la reserva. Una vez aceptada, se deberá acercar al local para poder retirar el libro y generar el préstamo.
        </p>
        <br>
        <div class="d-flex mt-0 m-3 align-items-center justify-content-center">
            <app-router-button [texto]="'ENVIAR SOLICITUD'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>
        </div>
    </mat-dialog-content>
</div>

