<div style="margin-top: 5%; margin-left: 5%; margin-right: 5%">
    <div style="display:flex; justify-content:space-between; margin-bottom: 1.5%;">
        <ng-container *ngIf="tipo_op === 'agregar'">
            <app-back-button [texto]="'Agregar Usuario'" [url]="'/usuarios'"></app-back-button>
            <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>  
        </ng-container>     
        
        <ng-container *ngIf="tipo_op === 'editar'">
            <app-back-button [texto]="'Editar Usuario'" [url]="'/usuario/' + usuario_id"></app-back-button>
            <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>
        </ng-container> 
    </div>    
    
    <ng-container *ngIf="tipo_op === 'agregar'">
        <app-formulario 
        [titulos]="['Nombre', 'Apellido', 'Alias', 'Mail', 'DNI', 'Teléfono']" 
        [placeholders]="['...', '...', '...', 'name@example.com', '...', '...']">
        </app-formulario>
    </ng-container>

    <ng-container *ngIf="tipo_op === 'editar'">
        <app-formulario 
        [titulos]="['Nombre', 'Apellido', 'Alias', 'Mail', 'DNI', 'Teléfono']"
        [placeholders]="['...', '...', '...', 'name@example.com', '...', '...']"
        [values]="usuarioDatos">
        </app-formulario>
    </ng-container>

    <div style="font-size: 125%;">
        <label for="exampleFormControlInput" class="form-label"> Rol </label>
        <div class="input-group">
            <input type="" class="form-control" id="exampleFormControlInput" placeholder="Usuario/Bibliotecario/Admin" value="Usuario" readonly>
            <button type="button" class="btn btn-link text-decoration-none" style="color: #ffffff; background-color: #893027">cambiar</button>
        </div>
    </div>
</div>