<app-navbar></app-navbar>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-4 d-flex align-items-start" style="min-height: 100px;margin-top: 2rem;">
                <div>
                    <i class="bi bi-person-circle" style="font-size: 7rem;"></i>
                    <div class="d-flex align-items-center">
                        <p class="fs-3 fw-bold m-3" style="color: #0D0842;margin-left:0;">{{ usuario_datos.alias }}</p>
                        <app-edit-delete-buttons [editarUrl]="'/usuario/' + usuario_datos.id + '/editar'"></app-edit-delete-buttons> 
                    </div>
                    <p class="text-start m-2" style="color: #0D0842;"><strong>ID: </strong>{{ usuario_datos.id }}</p>
                    <p class="text-start m-2" style="color: #0D0842;"><strong>Nombre: </strong>{{ usuario_datos.nombre }}</p>
                    <p class="text-start m-2" style="color: #0D0842;"><strong>Apellido: </strong>{{ usuario_datos.apellido }}</p>
                    <p class="text-start m-2" style="color: #0D0842;"><strong>Mail: </strong>{{ usuario_datos.mail }}</p>
                    <p class="text-start m-2" style="color: #0D0842;"><strong>DNI: </strong>{{ usuario_datos.dni }}</p>
                    <p class="text-start m-2" style="color: #0D0842;"><strong>Teléfono: </strong>{{ usuario_datos.telefono }}</p>
                    <p class="text-start m-2" style="color: #0D0842;"><strong>Rol: </strong>{{ usuario_datos.rol }}</p>    
                </div>
            </div>
    
            <!-- Columna de libros -->
            <div class="col-md-8 d-flex align-items-start" style="margin-top: 5%;margin-bottom: 5%;">
                <div class="container">
                    <p class="fs-3 fw-bold m-3" style="color: #0D0842;">Préstamos</p>
                    <div class="row text-center">
                        <div class="col-3 d-flex">
                            <app-imagen-libro class="m-2" [urlImagen]="'1984.jpeg'" [titulo]="'1984'" [autor]="'George Orwell'"></app-imagen-libro>
                            <app-imagen-libro class="m-2" [urlImagen]="'amantejapones.jpg'" [titulo]="'El Amante Japones'" [autor]="'Isabel Allende'"></app-imagen-libro>
                            <app-imagen-libro class="m-2" [urlImagen]="'cienanosdesoledad.png'" [titulo]="'Cien Años de Soledad'" [autor]="'Gabriel Garcia Marquez'"></app-imagen-libro>

                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

<app-footer></app-footer>