<div style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">
    <div style="display:flex; justify-content:space-between; margin-bottom: 1.5%;">
        <ng-container *ngIf="tipo_op === 'agregar'">
            <app-back-button [texto]="'Agregar Libro'" [url]="'/libros'"></app-back-button>
            <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>  
        </ng-container>     
        
        <ng-container *ngIf="tipo_op === 'editar'">
            <app-back-button [texto]="'Editar Libro'" [url]="'/libro/' + libro_id"></app-back-button>
            <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>  
        </ng-container> 
    </div>    
    
    <ng-container *ngIf="tipo_op === 'agregar'">
        <app-formulario 
        [titulos]="['Título', 'Autor Nombres', 'Autor Apellidos', 'Género', 'Editorial', 'ISBN', 'Sinopsis', 'Stock', 'Estado']" 
        [placeholders]="['...', '...', '...', '...', '...', '...', '...', '...', 'Disponible/No Disponible']">
        </app-formulario>
    </ng-container>

    <ng-container *ngIf="tipo_op === 'editar'">
        <app-formulario 
        [titulos]="['Título', 'Autor Nombres', 'Autor Apellidos', 'Género', 'Editorial', 'ISBN', 'Sinopsis', 'Stock', 'Estado']"
        [placeholders]="['...', '...', '...', '...', '...', '...', '...', '...', 'Disponible/No Disponible']"
        [values]="libroDatos">
        </app-formulario>
    </ng-container>
</div>