<div class="grid-container mt-4" [style.grid-template-columns]="'repeat(' + gridColumns + ', 1fr)'">
    <ng-container *ngFor="let header of headers">
        <div class="grid-item grid-header">
            <b>{{ header.name }}</b>
            <label class="btn order-btn">
                <i class="fa-solid fa-chevron-down down-icon" [ngClass]="{'hidden': header.sortDirection === 'asc'}" (click)="sortGrid(header)"></i>
                <i class="fa-solid fa-chevron-up up-icon" [ngClass]="{'hidden': header.sortDirection === 'desc'}" (click)="sortGrid(header)"></i>   
            </label>
        </div>
    </ng-container>
    <ng-container *ngIf="getRouter().includes('prestamos') || getRouter().includes('notificaciones')">
        <div class="grid-item grid-header"></div>
    </ng-container>

    <ng-container *ngIf="getRouter().includes('prestamos')">
        <ng-container *ngFor="let fila of arrayFilas">
            <div class="grid-item">{{ fila.id }}</div>
            <div class="grid-item">
                {{ fila.libro.titulo }}
                <p class="fs-6 fw-light mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{ fila.libro.autor.nombre }} {{ fila.libro.autor.apellido}}
                </p>
            </div>
            <div class="grid-item">
                {{ fila.usuario.alias }}
                <p class="fs-6 fw-light mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{ fila.usuario.nombre }} {{fila.usuario.apellido}}
                </p>
            </div>
            <div class="grid-item">{{ fila.fecha_inicio }}</div>
            <div class="grid-item">{{ fila.fecha_fin }}</div>
            <div class="grid-item" style="overflow: visible">
                <app-edit-delete-buttons [editarUrl]="'/prestamo/' + fila.id + '/editar'" (clickEvent)="deletePrestamo(fila.id)"></app-edit-delete-buttons>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="getRouter().includes('usuarios')">
        <ng-container *ngFor="let fila of arrayFilas">
            <div class="grid-item">{{ fila.id }}</div>
            <div class="grid-item btn" style="border-radius: 0;" (click)="navigate(fila.id)">
                {{ fila.alias }}
                <p class="fs-6 fw-light mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{ fila.nombre }} {{fila.apellido}}
                </p>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="getRouter().includes('libros')">
        <ng-container *ngFor="let fila of arrayFilas">
            <div class="grid-item">{{ fila.id }}</div>
            <div class="grid-item btn" style="border-radius: 0;" (click)="navigate(fila.id)">
                {{ fila.titulo }}
                <p class="fs-6 fw-light mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{ fila.autor.nombre }} {{ fila.autor.apellido }}
                </p>
            </div>
            <div class="grid-item">{{ fila.estado }}</div>
            <div class="grid-item">{{ fila.cantidad }}</div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="getRouter().includes('notificaciones')">
        <ng-container *ngFor="let fila of arrayFilas">
            <div class="grid-item">{{ fila.fecha }}</div>
            <div class="grid-item">
                {{ fila.libroTitulo }}
                <p class="fs-6 fw-light mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{ fila.libroAutor }}
                </p>
            </div>
            <div class="grid-item">
                {{ fila.usuarioAlias }}
                <p class="fs-6 fw-light mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{ fila.usuarioNombre }}
                </p>
            </div>
            <div class="grid-item" style="overflow: visible">
                <button class="btn btn-success btn-sm me-2" (click)="confirmNotificacion(fila)">
                    <i class="bi bi-check-lg"></i>
                </button>                            
                <button class="btn btn-danger btn-sm" (click)="declineNotificacion(fila)">
                    <i class="bi bi-x-lg"></i>
                </button>            
            </div>
        </ng-container>
    </ng-container>
</div>

<app-paginado [totalPages]="totalPages" [currentPage]="currentPage" (pageChanged)="onPageChanged($event)"></app-paginado>
