<div class="modal-overlay" (click)="$event.stopPropagation()">
    <h5 mat-dialog-title class="modal-header">Notificaciones
        <div>
            <mat-icon (click)="dialogRef.close()" fontIcon="close-icon" class="icono-cerrar"></mat-icon>
        </div>
    </h5>
    <mat-divider></mat-divider>

    <div mat-dialog-content>
        <div *ngIf="notificaciones.length === 0" class="text-center fs-5">
            <p>No tienes notificaciones nuevas.</p>
        </div>

        <div *ngFor="let notificacion of notificaciones; let i = index" class="notificacion">
            <div class="notificacion-content">
                <p><strong>Fecha:</strong> {{ notificacion.fecha }}</p>
                <p>{{ notificacion.mensaje }}</p>
            </div>  
            
            <button (click)="deleteNotificacion(notificacion.id)" class="btn-x">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
