.modal-header{
    color: #0D0842;
    font-size: 1.5em;
    background-color: #F0EBD5;
    margin: 0;
    font-weight: bold;
    display:flex;
    padding: 1rem;
}
  
.icono-cerrar{
    cursor: pointer;
}

.notificacion {
    display: flex;              
    justify-content: space-between;  
    align-items: flex-start;        
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e0e0e0;   
    width: 98%;                 
    border-radius: 15px;
    background-color: #92A5BF !important; 
    color: #333 !important; 
    border: none !important;
    font-weight: bold;
    word-wrap: break-word; 
    white-space: normal; 
    word-break: break-all;
}

.btn-x {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    align-self: flex-start;;
}

.btn-x mat-icon {
    font-size: 24px;
    color: black;     
}

.btn-x:focus {
    outline: none;
}