<footer class="mt-auto bg-light py-3 fixed-bottom">
    <div class="container">
        <ul class="nav justify-content-around">
            <li class="nav-item">
                <a href="#" routerLink="/home" class="nav-link text-dark">
                    <i class="bi bi-house-door" style="font-size: 1rem;"></i> <!-- Icono de casa -->
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" routerLink="./libros" class="nav-link text-dark">
                    <i class="bi bi-book" style="font-size: 1rem"></i> <!-- Icono de libro -->
                    <span>Libros</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="ver_usuarios.html" class="nav-link text-dark">
                    <i class="bi bi-person" style="font-size: 1rem;"></i> <!-- Icono de usuario -->
                    <span>Usuarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="ver_prestamos.html" class="nav-link text-dark">
                    <i class="bi bi-journal" style="font-size: 1rem;"></i> <!-- Icono de préstamos -->
                    <span>Préstamos</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
