<div class="review-container">
    <div class="review-header">
        <i class="fas fa-user-circle user-icon"></i>
        <div class="fs-4 fw-bold">
            {{ nombreUsuario }}
        </div>
        <div class="fs-6" style="margin-left: 1%; margin-top: 0.7%;">
            {{ fecha }}
        </div>
    </div>
    <div class="review-rating">
        <ng-container *ngFor="let _ of [].constructor(getEstrellas().llenas)">
            <i class="fas fa-star star-icon"></i>
        </ng-container>
    
        <i *ngIf="getEstrellas().media" class="fas fa-star-half-alt star-icon"></i>
    
        <ng-container *ngFor="let _ of [].constructor(getEstrellas().vacias)">
            <i class="far fa-star star-icon"></i> <!-- "far" para estrellas vacías -->
        </ng-container>
    </div>
    <p class="review-text">{{ resenia }}</p>
</div>
