.review-container{
    background-color: #C4C5C4; 
    border-radius: 1rem;
    padding: 1rem;
}

.review-header{
    display: flex;
    align-items: center;
}

.review-rating{
    margin-top: 0.5rem;
}

.review-text{
    margin-top: 0.5rem;
}

.user-icon {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.fs-6{
    margin-left: 0.5rem; 
    margin-top: 0.3rem;
}