.modal-header {
    text-align: center;
    color: #0D0842;
    font-size: 1.5em;
    background-color: #F0EBD5;
    margin: 0;
    font-weight: bold;
    display:flex;
    padding: 1rem;
}

.info-container{
    margin-top: 1rem;
}

button[mat-button] {
    margin-right: 8px;
    border-radius: 15px;
    background-color: #92A5BF !important; 
    color: #333 !important; 
    border: none !important;
    font-weight: bold;
}

.mat-content{
    background-color: #F0EBD5;
}

.details-container{
    display: flex; 
    gap: 1rem; 
    margin-top: 1.5rem;
}

.detail-box{
    flex: 1; 
    text-align: center; 
    border: 1px solid #ccc;
    border-radius: 5px !important; 
    padding: 1rem;
}

.box-title{
    margin: 0; 
    font-weight: bold;
}

.box-content{
    margin: 0;
}

.modal-abierto nav,
.modal-abierto footer {
  pointer-events: none; 
  opacity: 0.5; 
}

.icono-cerrar{
    align-items: end;
    cursor: pointer;
}