<app-navbar></app-navbar>

<div class="container" style="margin-left: 1rem; margin-top: 1rem;">
  <p class="fs-4 fw-bold">Nuevos Ingresos</p>
  <p class="fs-5">Libros recién llegados</p>
</div>

<!-- -----imagenes libros nuevos------->

<div class="container">
  <div class="row text-center">
    <div class="col-2">
      <a href="explore_usuario_registrado.html">
        <figure class="figure">
          <img src="../assets/orgulloyprejuicio.png" class="figure-img img-fluid rounded" style="width: 100%;">
          <figcaption class="figure-caption">
            <p class="fs-6">Orgullo y Prejuicio</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="../assets/cienanosdesoledad.png" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">Cien Años de Soledad</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/demian.png" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">Demian</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/harrypotter.jpg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">Harry Potter y la Piedra Filosofal</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/lacasadelosesp.jpeg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">La Casa de los Espíritus</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/nosotrosenlaluna.jpg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">Nosotros en la luna</p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- -----favoritos----- -->

<div class="container" style="margin-left: 1rem; margin-top: 1rem;">
  <p class="fs-4 fw-bold">Tus Favoritos</p>
  <p class="fs-5">Los libros que más te gustaron</p>
</div>

<!-- -----imagenes libros favoritos------->

<div class="container" style="margin-bottom: 5rem">
  <div class="row text-center">
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/1984.jpeg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">1984</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/amantejapones.jpg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">El Amante Japonés</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/doriangrey.jpeg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">El Retrato de Dorian Grey</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/grangatsby.jpeg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">El Gran Gatsby</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2"></div>
      <figure class="figure">
        <img src="src/assets/mataraunruisenor.jpeg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">Matar a un Ruiseñor</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-2">
      <figure class="figure">
        <img src="src/assets/elvisitante.jpg" class="figure-img img-fluid rounded" style="width: 100%;">
        <figcaption class="figure-caption">
          <p class="fs-6">El Visitante</p>
        </figcaption>
      </figure>
    </div>
  </div>
<app-footer></app-footer>