<nav class="navbar navbar-expand-lg navbar-light bg-white position-relative fixed-top" style="width: 100%;">
    <div class="container-fluid">
        <div class="d-flex">
            <button type="button" class="btn btn-light position-relative me-3" *ngIf="isUser()">
                <a (click)="openModalPerfilDialog()" style="cursor: pointer;">
                    <i class="bi bi-person" style="font-size: 1.5rem;"></i> 
                </a>
            </button>
        </div>
        
        <div class="position-absolute top-50 start-50 translate-middle">
            <a class="navbar-brand" href="#">
                <img src="readradar.png" alt="ReadRadar Logo" class="img-fluid" style="max-height: 50px;">
            </a>
        </div>
        
        <div class="d-flex align-items-center ms-auto">
            <button *ngIf="!isUserNoReg()"  type="button" class="btn btn-light position-relative me-3" (click)="navigateToNotifications()">
                <i class="bi bi-bell" style="font-size: 1.5rem;"></i>
            </button>
        </div>
    </div>
</nav>
