<div class="align-items-center" >
    <div class="align-items-center text-center mt-3">
        <p class="inicio">Iniciar Sesión</p>
    </div>
    <div class="align-items-center text-center">
        <p class="bienvenido">Bienvenido de vuelta! Inicia sesión para buscar tus libros.</p>
    </div>
    <div class="container">
        <div class="email">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="contraseña">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <div>
            <a type="button" class="btn btn-primary" style="background-color:#92A5BF; font-family: Arial, Helvetica, sans-serif; border: 0cap; margin: auto; font-size: 20px;" href="home_bibliotecario_admin.html">Iniciar Sesión</a>
        </div>
    </div>
</div>