<div class="d-flex flex-column min-vh-100 mt-5" style="background-color:#F0EBD5;">
    <div class="d-flex align-items-center" style="margin-left: 5%;">
        <app-back-button [texto]="'Perfil'" [url]="'home'"></app-back-button> 
    </div>
    <div class="d-flex flex-column align-items-center">
        <p class="fuentetitulo fw-bold fs-4">{{ usuarioDatos[2] }}</p>
        <div>
            <img src="cat.png" class="img-fluid" style="max-width: 75px; margin-left: 2%;">
        </div>
    </div> 
    
    <div class="container-sm" style="margin-left: 5%; margin-right: 5%;">
        <app-formulario 
        [titulos]="['Nombre', 'Apellido', 'Alias', 'Mail', 'DNI', 'Teléfono']"
        [placeholders]="['...', '...', '...', 'name@example.com', '...', '...']"
        [values]="usuarioDatos"></app-formulario>
        <div style="font-size: 125%; margin-bottom: 3%;">
            <label for="exampleFormControlInput" class="form-label"> Contraseña </label>
            <div class="input-group">
                <input type="" class="form-control" id="exampleFormControlInput" placeholder="..." value="***" readonly>
                <button type="button" class="btn btn-link text-decoration-none" style="color: #ffffff; background-color: #893027">cambiar</button>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>  
    </div>
</div>
