<div class="d-flex align-items-center justify-content-center">
    <ng-container *ngIf="tipo == 'rojo'">
        <button class="btn add-btn" 
        style="color: #ffffff; 
        background-color: #893027"
        (click)="emitirClick()">
            <b>{{ texto }}</b>
        </button>
    </ng-container>
    <ng-container *ngIf="tipo == 'azul'">
        <button type="button" class="btn btn-primary" 
        style="
        background-color:#92A5BF;
        font-family: Arial, Helvetica, sans-serif;
        border: 0cap;
        font-size: 20px;"
        (click)="emitirClick()">
            <b>{{ texto }}</b>
        </button>    
    </ng-container>
</div>
