.add-btn{
    font-size: 150%; 
    color: #ffffff; 
    background-color: #893027
}

.btn-primary{
    background-color:#92A5BF;
    font-family: Arial, Helvetica, sans-serif;
    border: 0cap;
    font-size: 20px;
}