.modal-abierto nav,
.modal-abierto footer {
  pointer-events: none; 
  opacity: 0.5; 
}

.modal-header{
    color: #0D0842;
    font-size: 1.5em;
    background-color: #F0EBD5;
    margin: 0;
    font-weight: bold;
    display:flex;
    padding: 1rem;
}

.icono-cerrar{
    cursor:pointer;
}

.modal-content{
    padding: 1rem;
}