<div class="modal-overlay" (click)="$event.stopPropagation()">
    <h5 mat-dialog-title class="modal-header">
        Enviar Notificación
        <div>
            <mat-icon (click)="dialogRef.close()" fontIcon="close-icon" class="icono-cerrar"></mat-icon>
        </div>
    </h5>

    <mat-divider></mat-divider>
    <div class="modal-content">
        <form [formGroup]="form">
            <div >
                <label for="usuarios" class="form-label"> Usuarios </label>
                <input type="usuarios" class="form-control" formControlName="usuarios" id="usuarios" placeholder="ID1, ID2...">
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="enviarATodos" (change)="toggleEnviarATodos()">
                    <label class="form-check-label fs-6" for="enviarATodos">
                        Enviar a todos los usuarios
                    </label>
                </div>
                <br>
                <label for="mensaje" class="form-label"> Mensaje </label>
                <textarea class="form-control" formControlName="mensaje" id="mensaje" placeholder="Mensaje..." rows="5"></textarea>
            </div>
        </form>
    </div>

    <div class="mt-4 mb-4 text-center align-items-center">
        <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>
    </div>
</div>