<app-navbar></app-navbar>
<div class="container">
    <div class="mb-5">
        <app-ingresos-favoritos
        [titulo]="'Últimos Ingresos'"
        [subtitulo]="'Libros recién agregados a la biblioteca'">
        </app-ingresos-favoritos>
        <div class="d-flex flex-row overflow-auto gap-3">
            <app-imagen-libro *ngFor="let libro of ultimosIngresos" 
                [urlImagen]="libro.portada" 
                [titulo]="libro.titulo" 
                [autor]="libro.autor.nombre + ' ' + libro.autor.apellido"
                [idLibro]="libro.id">
            </app-imagen-libro>
        </div>
    </div>
    <div class="mb-5">
        <app-ingresos-favoritos
        [titulo]="'Mejor Valorados'"
        [subtitulo]="'Los libros preferidos de los usuarios'">
        </app-ingresos-favoritos>
        <div class="d-flex flex-row overflow-auto gap-3">
            <app-imagen-libro *ngFor="let libro of librosMejorReseniados" 
                [urlImagen]="libro.portada" 
                [titulo]="libro.titulo" 
                [autor]="libro.autor.nombre + ' ' + libro.autor.apellido"
                [idLibro]="libro.id">
            </app-imagen-libro>
        </div>
    </div>
    <div class="mb-5">
        <app-ingresos-favoritos
        [titulo]="'Novelas'"
        [subtitulo]="'Novelas que ofrece la bilioteca'">
        </app-ingresos-favoritos>
        <div class="d-flex flex-row overflow-auto gap-3">
            <app-imagen-libro *ngFor="let libro of librosNovela" 
                [urlImagen]="libro.portada" 
                [titulo]="libro.titulo" 
                [autor]="libro.autor.nombre + ' ' + libro.autor.apellido"
                [idLibro]="libro.id">
            </app-imagen-libro>
        </div>
    </div>
    <div *ngIf="!isUserNoReg()">
        <app-ingresos-favoritos 
        [titulo]="'Disponibles'"
        [subtitulo]="'Libros disponibles para leer'">
        </app-ingresos-favoritos>
        <div class="d-flex flex-row overflow-auto gap-3">
            <app-imagen-libro *ngFor="let libro of librosDisponibles" 
                [urlImagen]="libro.portada" 
                [titulo]="libro.titulo" 
                [autor]="libro.autor.nombre + ' ' + libro.autor.apellido"
                [idLibro]="libro.id">
            </app-imagen-libro>
        </div>
    </div>
</div>
<app-footer></app-footer>