<div style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">
    <div style="display:flex; justify-content:space-between; margin-bottom: 1.5%;">
        <ng-container *ngIf="tipo_op === 'agregar'">
            <app-back-button [texto]="'Agregar Préstamo'" [url]="'/prestamos'"></app-back-button>
            <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>  
        </ng-container>     
        
        <ng-container *ngIf="tipo_op === 'editar'">
            <app-back-button [texto]="'Editar Préstamo'" [url]="'/prestamos'"></app-back-button>
            <app-router-button [texto]="'CONFIRMAR'" [tipo]="'rojo'" (clickEvent)="submit()"></app-router-button>
        </ng-container> 
    </div>    
    
    <ng-container *ngIf="tipo_op === 'agregar'">
        <app-formulario 
        [titulos]="['Usuario ID', 'Libro ID', 'Fecha de Inicio', 'Fecha de Fin']" 
        [placeholders]="['...', '...', 'dd-mm-aaaa', 'dd-mm-aaaa']">
        </app-formulario>
    </ng-container>

    <ng-container *ngIf="tipo_op === 'editar'">
        <app-formulario 
        [titulos]="['Usuario ID', 'Libro ID', 'Fecha de Inicio', 'Fecha de Fin']"
        [placeholders]="['...', '...', 'dd-mm-aaaa', 'dd-mm-aaaa']"
        [values]="prestamoDatos">
        </app-formulario>
    </ng-container>
</div>