<div class="container-md" style="margin-top: 50px; position: relative;">
  <div class="email">
    <input type="text" [(ngModel)]="searchText" (input)="buscarLibros()" class="form-control" id="exampleFormControlInput1" placeholder="¿Qué desea buscar?" autocomplete="off">
  </div>
  
  <ul class="dropdown-menu" [class.show]="librosFiltrados.length > 0" style="width: 100%; position: absolute; top: 100%; z-index: 1;">
    <li *ngFor="let libro of librosFiltrados" class="dropdown-item" (click)="verLibro(libro)">
      {{ libro.titulo }}
    </li>
  </ul>
</div>
