.modal-header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #F0EBD5;
    position: relative;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-info h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    max-height: 30px;
}

.profile-info h4 {
    margin: 0;
    font-size: 15px;
    color: gray;
    max-height: 22px;
}

.modal-title {
    color: #0D0842;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.icono-cerrar{
    cursor: pointer;
}

button[mat-button] {
    margin-right: 8px;
    border-radius: 15px;
    background-color: #92A5BF !important; 
    color: #333 !important; 
    border: none !important;
    font-weight: bold;
}

.mat-content{
    background-color:white;
}

.profile-options {
    display: flex;
    flex-direction: column;
}

.profile-options button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
    text-transform: none;
}

.profile-options mat-icon {
    margin-right: 10px;
}