<div class="modal-overlay" (click)="$event.stopPropagation()">
    <div class="modal-header">
        <div class="profile-info modal-title text-center mb-3">
            <h2>{{ usuarioDatos[0] }}</h2>
            <h4>{{ usuarioDatos[1] }} {{ usuarioDatos[2] }}</h4>
            <h4 *ngIf="usuarioDatos[3] === 'Suspendido'" style="color: red;">{{ usuarioDatos[3] }}</h4>
        </div>
        <div>
            <mat-icon (click)="dialogRef.close()" fontIcon="close-icon" class="icono-cerrar"></mat-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
    
    <mat-dialog-content class="mat-content">        
        <div class="profile-options">
            <button mat-button (click)="navigateToDetallesPerfil()">
                <mat-icon>person</mat-icon>
                <span>Detalles del Perfil</span>
            </button>

        </div>


        <div class="profile-options">
            <button mat-button (click)="openDeleteModal(usuario_id)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar Cuenta</span>
            </button>

            <button mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
            </button>
        </div>
    </mat-dialog-content>
</div>

