<footer class="mt-auto bg-light py-3 footer d-flex justify-content-between align-items-center fixed-bottom">
    
    <div class="footer-item" (click)="navigateToHome()">
        <i class="bi bi-house-door"></i> 
        <span>Inicio</span>
    </div>
   
    <div class="footer-item" *ngIf="isAdminBibliotecario()" (click)="navigateToLibros()">
        <i class="bi bi-book"></i> 
        <span>Libros</span>
    </div>

    <div class="footer-item" *ngIf="isAdminBibliotecario()" (click)="navigateToUsuarios()">
        <i class="bi bi-person"></i> 
        <span>Usuarios</span>
    </div>

    <div class="footer-item" *ngIf="isAdminBibliotecario()" (click)="navigateToPrestamos()">
        <i class="bi bi-journal"></i> 
        <span>Prestamos</span>
    </div>

    <div class="footer-item" *ngIf="isUser()" (click)="navigateToMisPrestamos()">
        <i class="bi bi-journal"></i> 
        <span>Prestamos</span>
    </div>

    <div class="footer-item" (click)="navigateToBuscar()">
        <i class="bi bi-search"></i> 
        <span>Buscar</span>
    </div>
</footer>


  
