.footer{
    height: 4rem;
    padding-top: 1rem;
}

.footer-item{
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
    text-align: center;
    font-size: 1rem;
}