<app-navbar></app-navbar>

<div class="container">
    <div class="row align-items-start">

    <!-- Columna de imagen -->

        <div class="col-md-4 d-flex align-items-start" style="min-height: 100px;margin-top: 2rem;">
            <app-imagen-libro 
            [urlImagen]="'orgulloyprejuicio.png'"
            [titulo]="'Orgullo y prejuicio'"
            [autor]="'Jane Austen'"
            ></app-imagen-libro>
        </div>

        <div class="col-md-8" style="margin-top: 5rem;margin-bottom: 5rem; padding-left: 0%;">
            <div class="d-flex align-items-center" style="margin-bottom: 1rem;color: #0D0842;">
                <app-back-button [texto]="'Más Información'" [url]="'ver-libro'"></app-back-button>   
            </div>
            <p class="text-start m-2" style="color: #0D0842;"><strong>ID: </strong>123</p>
            <p class="text-start m-2" style="color: #0D0842;"><strong>Título: </strong>Orgullo y Prejuicio</p>
            <p class="text-start m-2" style="color: #0D0842;"><strong>Género: </strong>Novela</p>
            <p class="text-start m-2" style="color: #0D0842;"><strong>Editorial: </strong>DEBOLSILLO</p>
            <p class="text-start m-2" style="color: #0D0842;"><strong>ISBN: </strong>123-456-789</p>
            
            <app-edit-delete-buttons [editarUrl]="'editar-libro'"></app-edit-delete-buttons>

            <div class="d-flex">
                <div class="card border-secondary mb-3 m-2" style="width: 8rem; background-color: #D9D9D9;">
                    <div class="card-header">Cantidad</div>
                    <div class="card-body">
                        <h5 class="card-title">3</h5>
                    </div>
                </div>
                <div class="card border-secondary mb-3 m-2" style="width: 8rem; background-color: #D9D9D9;">
                    <div class="card-header">Estado</div>
                    <div class="card-body">
                        <h5 class="card-title">Disp.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

