<app-navbar></app-navbar>
<div class="justify-content-center align-items-center text-center m-5" style="font-size: 135%;">
    <div style="margin-bottom: 1%;">
        <b class="inicio">Crear Cuenta</b>
    </div>
    <p>Crea una cuenta y explora nuestra libreria con un increible catálogo.</p>

    <div style="font-size: 1rem;text-align: left;">
        <app-campo-formulario [titulo]="'Email'" [placeholder]="'name@example.com'"></app-campo-formulario>
    </div>
    
    <div class="mt-3">
        <app-blue-button [texto]="'Crear Cuenta'" [url]="'registrarse-datos'"></app-blue-button>
    </div>

    <div class="align-items-center" style="font-size: 55%;">
        <p>¿Ya tienes una cuenta? <a class="btn ms-0 p-0" style="font-size: 100%; color: darkblue;" (click)="navigate()"> Iniciar </a></p>
    </div>
</div>