<div style="margin-top: 4%; margin-left: 4%; margin-right: 4%;">
    <div style="display:flex; justify-content:space-between; margin-bottom: 1.5%;">
        <app-back-button [texto]="'Crear Mi Cuenta'" [url]="'/portada'"></app-back-button>
    </div>    
    <div class="justify-content-center align-items-center">
        <app-formulario 
            [titulos]="['Nombre', 'Apellido', 'Alias', 'Mail', 'DNI', 'Teléfono', 'Contraseña', 'Confirmar Contraseña']" 
            [placeholders]="['...', '...', '...', '...@gmail.com', '...', '...', '...', '...']">
        </app-formulario>
    
        <div class="mt-2">
            <app-router-button [texto]="'CREAR CUENTA'" [tipo]="'azul'" (clickEvent)="submit()"></app-router-button>  
        </div>
    
        <div class="align-items-center text-center">
            <p>¿Ya tienes una cuenta? <a class="btn ms-0 p-0" style="font-size: 100%; color: darkblue;" (click)="navigateToPortada()"> Iniciar </a></p>
        </div>
    </div>
</div>
