<app-navbar></app-navbar>
<div *ngFor="let prestamo of usuarioPrestamos; let i = index" class="container" style="margin-top: 10px;">
    <div class="row align-items-start">
        <div class="d-flex p-3" style="background-color: #FFFFF6; border-radius: 10px; margin-bottom: 1rem;">
            <img [src]=librosImg[i] class="img-fluid rounded" style="height: 100px; width: 70px;">
            <div class="ms-3">
                <h5 class="mb-1 fw-bold" style="color: #0D0842;">
                    {{ prestamo.libros[0].titulo }}
                </h5>
                <p class="mb-1" style="color: #0D0842;">{{ prestamo.libros[0].autores[0].nombre }} {{ prestamo.libros[0].autores[0].apellido }}</p>
                <p class="mb-1 text-muted">Fecha de inicio: {{prestamo.fecha_inicio}}</p>
                <p class="mb-1 text-muted">Fecha de fin: {{prestamo.fecha_fin}}</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>